.idea/*
wirecardpaymentgateway/vendor/*
composer.lock
wirecardpaymentgateway/config*.xml
.DS_Store
*.iml
wirecardpaymentgateway.zip
.bin/*
!.bin/phraseapp
!.bin/*.*
wirecardpaymentgateway/translations/*.json
wirecardpaymentgateway/translations/*.new
autoindex
